body {
  background-color:pink; 
  font-family: Times New Roman;
  margin: 15% 25%
}

h2 {
  background-color: yellow;
  font-size: 28px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
}

h3 {
  background-color: yellow;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  }

img {
  padding-left: 100px;
}
